<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'home'} %>
      <div class="learnMore span-12">
      </div>
      <p>This is a private installation of BetterMeans.  Access is restricted.
        If you are interested in using this software, see <a href="http://www.bettermeans.com" target="new">BetterMeans Website</a> or their <a href="https://github.com/Bettermeans/bettermeans" target="new">source code</a> on Github.</p>

    <!-- end banner -->
    <!-- end main -->
    <!-- end main -->
    <!-- <div class="paint">
      <p>&nbsp;<br>
      <a href="/front/why.html">why bettermeans?</a>
      </p>
    </div> -->


      <!-- end main-inner -->
    </div>
    
  </div>
  <!-- / Container -->
</div>
<!-- / Page -->        
